Source: python3-cyberfusion-yavb
Section: misc
Priority: optional
Maintainer: William Edwards <wedwards@cyberfusion.nl>
Build-Depends: python3-all, dh-python, debhelper (>= 10), python3-setuptools, pybuild-plugin-pyproject
Standards-Version: 4.3.0

Package: python3-cyberfusion-yavb
Architecture: all
Depends: python3, dpkg-dev, devscripts, ${python3:Depends}, ${misc:Depends}
Description: Version bumper for software projects.
 Version bumper for software projects.
